head

    meta(charset="UTF-8")

    //- ↓ レスポンシブ対応に必須の記述 -->
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    //- ↓ 電話番号を入力した際に自動的リンクを切る-->
    //- 電話番号をクリックした時、自動電話機能を入れたい場合a要素で指定 -->
    meta(name="format-detection" content="telephone=no")
    //- ↓ 検索結果画面で表示される文言 -->
    meta(name="description" content="")
    //- ↓ 検索ワードをカンマ区切りでcontent内に指定-->
    meta(name="keywords" content="")
    //- ↓ 検索にヒットしないようにする(noindex) リンクとの関係性を切る（nofollow）-->
    meta(name="robots" content="noindex, nofollow")

    //-- twitter関連 -->
    //-- ↓ twitterでリンクに画像を表示 -->
    meta(name="twitter:card" content="summary")
    //-- ↓ @ユーザ名を入力（任意 -->
    meta(name="twitter:site" content="")
    //-- ↓ そのページの概要を記述する（任意 -->
    meta(name="twitter:description" content="")
    //-- ↓ そのページのタイトルを入力※短くする-->
    meta(name="twitter:title" content="@username")
    //-- ↓ ページのコンテンツを表す任意の画像 -->
    //- 画像サイズは144px～4096pxまで。サイズは5MBまで。gif・jpg・png・webpのみ対応(アニメーションは非対応) -->
    meta(name="twitter:image" content="")

    //- Facebook関連 -->
    //- ↓ このページのタイトルを記入 -->
    meta(property="og:title" content="")
    //- ↓ 通常のサイトはcontent="website" -->
    meta(property="og:type" content="website")
    //- ↓ ページのurlを記入 -->
    meta(property="og:url" content="")
    //- ↓ ページの概要説明を記入 -->
    meta(property="og:description" content="")
    //- ↓ サイト名 -->
    meta(property="og:site_name" content="")
    //- ↓ ページリンクを貼り付けた際の画像 -->
    meta(property="og:image" content="")

    //- ↓ iOSホーム画面にリンクを置いた際に表示されるアイコン -->
    link(rel="apple-touch-icon" sizes="57x57" href="")
    link(rel="apple-touch-icon" sizes="60x60" href="")

    block head
    link(rel="stylesheet" href="../css/style.css")
