
<footer class="footer-b" id="footer">
  <div class="ftr1">
    <h2 class="ftr__name">ロイズコーヒーユニオン株式会社</h2>
    <div class="ftr-icon">
      <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/inst.png"/></a></div>
      <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/fb.png"/></a></div>
      <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/twi.png"/></a></div>
      <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../img/lloyds.png"/></a></div>
    </div>
    <address class="ftr__add">
      〒062-0034
      北海道札幌市豊平区西岡4条10丁目7-1
      TEL：011-855-3939
      FAX：011-855-3939
      e-mail：lloydszimu84@gmail.com
    </address>
  </div>
  <div class="ftr2">
    <p class="ftr__etc"><a class="ftr__link" href="privacy.html">プライバシーポリシー</a><a class="ftr__link" href="conpany.html">特定商取引法に関する法率に基づく表示</a><a class="ftr__link" href="cookie.html">配送・支払いについて</a><a class="ftr__link" href="contact.html">お問い合わせ</a></p>
    <p class="ftr__copy"><small>© 2020 lloyds coffee union Inc. All rights reserved.</small></p>
  </div>
</footer>