
<footer id="footer">
  <p class="ftr__copy"><small>©︎ asm All Right Reserved</small></p>
</footer><!-- ここから下にjsファイル設置 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/function.js"></script>