
<h2 class="ftr__name">ロイズコーヒーユニオン株式会社</h2>
<div class="ftr-icon">
  <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../../img/inst.png"/></a></div>
  <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../../img/fb.png"/></a></div>
  <div class="ftr-icon__b"><a class="ftr-icon__link" href="index.html"><img class="ftr-icon__img" src="../../img/twi.png"/></a></div>
</div>
<address class="ftr__add">〒062-0034<br/>北海道札幌市豊平区西岡4条10丁目7-1<br/>TEL：011-855-3939<br/>FAX：011-855-3939<br/>e-mail：lloydszimu84@gmail.com</address>
<p class="ftr__etc"><a class="ftr__link" href="conpany.html">会社概要</a><a class="ftr__link" href="privacy.html">プライバシーポリシー</a><a class="ftr__link" href="cookie.html">cookie</a><a class="ftr__link" href="contact.html">お問い合わせ</a></p>