
<header class="header" id="header">
  <h1 class="hdr__ttl"><img class="hdr__logo" src="../img/logo1.svg" alt="LLoyd's Coffee"/></h1>
  <nav class="gnav" id="gnav">
    <ul class="gnav__item">
      <li><a class="gnav__link" href="index.html">top</a></li>
      <li><a class="gnav__link" href="store.html">OnlineStore</a></li>
      <li><a class="gnav__link" href="coffee.html">商品情報</a></li>
      <li><a class="gnav__link" href="shop.html">店舗情報</a></li>
      <li><a class="gnav__link" href="conpany.html">会社概要</a></li>
      <li><a class="gnav__link" href="privacy.html">プライバシーポリシー</a></li>
      <li><a class="gnav__link" href="cookie.html">Cookieポリシー</a></li>
      <li><a class="gnav__link" href="contact.html">お問い合わせ</a></li>
    </ul>
  </nav>
  <button class="hdr__btn" id="hdr__btn"><span class="hdr__btn-a"></span><span class="hdr__btn-b"></span><span class="hdr__btn-c"></span></button>
</header>