//色を指定する時の変数を記述。

// サンプル
// $color-red: rgb(218, 132, 62);
$color-txt: #5E4433;
$color-txtdark: #3B2212;
$color-bg: #FBF9F7;
$color-bg2: #F2EBE4;
$color-btn: #D8D2C6;
$color-menu: rgb(173, 173, 173);
