// 文字に関する変数を記述

// $font-noto : "Roboto", sans-serif;
$font-jp: 'Sawarabi Mincho', sans-serif;
$font-jp2: 'Noto Serif JP', serif;
$font-ttl: 'Noto Sans JP', sans-serif;
$font-en: 'Raleway', sans-serif;