@mixin shoplink{
    height: 200px;
    margin-bottom: 40px;
    padding: 10px 20px;

    @media screen and(min-width:560px) {
        width: 49%;
        height: 240px;
        padding: 20px 30px;
    }
    @media screen and(min-width:960px) {
        padding: 20px 50px;
    }
}
@mixin sec3($AB){
    margin: 40px 0;
    
    @media screen and(min-width:960px) {
        grid-area: $AB ;
    }

}
@mixin footer {
    padding: 50px 10px 15px;
    font-family: $font-ttl;

    @media screen and(min-width:560px) {
        padding: 50px 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    @media screen and(min-width:960px) {
        padding: 50px 10vw 15px;
    }
}


// store-item
@mixin item {
    width: 268px;
    margin: 0 auto;
    
    @media screen and(min-width:560px) {
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and(min-width:960px) {
       grid-area: C;
       margin-top: 40px;
    }
}

@mixin tag{
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 60px;
    height: 60px;
    background: $color-txt;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 5em;
    color: #fff;
}
@mixin tag2{
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 60px;
    height: 60px;
    background: #B52D00;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 5em;
    color: #fff;
}

//page
@mixin img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@mixin page-ttl{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 400;
}
@mixin page-sttl{
    margin-bottom: 24px; 
    font-size: 24px;
    font-weight: 800;
}
@mixin page-cont{
    padding: 80px 10px;

    @media screen and(min-width:560px) {
        width: 537px;
        margin: 0 auto;
    }
    @media screen and(min-width:960px) {
        width: 95%;
        max-width: 1280px;
        margin: 0 auto;
    }
}