extend include/_temp.pug

//- 商品用
mixin detail(name)
    .detail
        h3.detail__name #{name}
        .detail__b
            .detail__taste: ul
                li.detail__tastelist 酸味
                li.detail__tastelist 苦味
                li.detail__tastelist 香り
            if block
                block
            else
                p No content provided
        .detail__store: a.detail__link(href="store-item.html") storeを見る


block head
    title 商品説明
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">

block hdr
    nav.nav
        ul.nav__item
            li.nav__list: a.nav__link(href="#blend") blend
            li.nav__list: a.nav__link(href="#straight") straight
block contents
    .page-mv: img.page-mv__img(src="../img/coffee.JPG", alt="coffee")
    section.coffee#blend
        h2.coffee__ttl Blendcoffee
        .coffee__detail
            +detail("マイルドブレンド")
                p 深みとコクのある当社人気NO.1のブレンド。
                    br
                    |ブラジル産の豆をベースに4か国の豆をブレンドして深煎り焙煎で仕上げました。
                    br
                    |程よい苦味のある後味がマイルド特徴のあるコーヒーです。
            +detail("オリジナルブレンド")
                p 深煎りのブラジルをベースにしたブレンド。
                    br
                    |マイルドブレンドとロイズブレンドの中間の味わい。
                    br
                    |深みとコクがあるブレンドです。

            +detail("ロイズブレンド")
                p あっさりとした酸味が心地良いアメリカンタイプ。
                    br
                    |ブラジル産の豆をベースに3か国の豆をブレンドして中煎り焙煎であっさりと仕上げました。
                    br
                    |軽いコーヒーが好きな方にお勧めです。

            +detail("エチオピアモカブレンド")
                p さわやかな酸味とモカ特有の上品な香りがあるコーヒー。
                    br
                    |エチオピア産の豆をベースに4か国の豆をブレンドして中煎りで仕上げました。
                    br
                    |コーヒーの香りを楽しみたい方にお勧めです。

            +detail("ブルーマウンテンNO.1ブレンド")
                p ブルーマウンテンの中でも最高級のブルーマウンテンNO.1をベースにしたブレンド。
                    br
                    |ジャマイカ産の豆をベースに4か国の豆をブレンドして中煎り焙煎で仕上げました。
                    br
                    |自分へのご褒美として召し上がって頂きたいコーヒーです。

    section.coffee#straight 
        h2.coffee__ttl Straightcoffee
        .coffee__detail
            +detail("ブルーマウンテンNO.1")
                p 生産量が少ないブルーマウンテンの中でも一番グレードの高い豆。
                    br
                    |絶妙なバランスを備えた、日本で一番人気のあるコーヒーです。
                    br
                    |当社ではバランスを活かす為に中煎り焙煎で仕上げています。
            +detail("キリマンジャロAA")
                p 程よい酸味が特徴のキリマンジャロの中で 一番グレードの高い豆。
                    br
                    |当社では中深煎り焙煎をして酸味を抑えてバランスをとりました。
                    br
                    |当社の焙煎士が一番好きな豆で、こだわりの焙煎をしています。
            +detail("エチオピアモカ")
                p 特徴のある強い香りと、コクがあるコーヒーです。
                    br
                    |エチオピア産モカの最高級品を中煎りで仕上げました。
                    br
                    |砂糖とミルクを多めに入れると紅茶のように感じられる不思議な豆です。

            +detail("マンデリンG1")
                p 芳醇な香りとコクのある、やわらかな苦味が特長のコーヒーです。
                    br
                    |インドネシア産の豆を中深煎りで仕上げました。
                    br
                    |全体的なバランスがとれているので、ストレートコーヒーの好みを知る為のベースになるかも・・・。

            +detail("グァテマラSHB")
                p 上質な風味と甘い香りのある柔らかい口あたりのコーヒーです。
                    br
                    |グァテマラ産の豆を中煎りで仕上げました。
                    br
                    |すっきりとした味わいをお楽しみ頂けます。

block ftr
    include include/_footer-a.pug
