extend include/_temp.pug
block head
    title company
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">
block contents
    h2.com__ttl 会社概要
    .com-list
        dl
            dt 会社名
            dd ロイズコーヒーユニオン株式会社
            dt 代表者
            dd 酒巻　悠大
            dt 本社
            dd 北海道札幌市豊平区西岡4条10丁目7-1
            dt 電話番号
            dd TEL：011-590-9031
                br
                |FAX：011-590-9032
            dt メールアドレス
            dd: a(href="#") lloydszimu84@gmail.com
            dt 受付時間
            dd 9時～17時（土日祝は休業）
            dt 設立年月日
            dd 1984年4月16日
            dt 事業内容
            dd コーヒー豆焙煎
                br
                |コーヒー関連商材の販売
                br
                |カフェ運営
                br
                |食品卸事業
            dt 資本金
            dd 500万円
block ftr
    include include/_footer-a.pug

