extend include/_temp.pug


block head
    title LLOYD'S coffee OnlineStore
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">

block hdr
    h2.store__ttl ONLINE STORE
block contents
    .pol
        dl
            dt.pol__sttl 配送料に関する情報
            dd.pol__txt お荷物のサイズや地域によって送料が異なりますので、その場合はご注文後修正した送料をご連絡いたします。先に送料を確認されたい場合は、事前にお問合せフォームもしくはメールにてご連絡ください。
            dt.pol__sttl 国際配送に関する注意事項
            dd.pol__txt 国際配送にかかる料金、税金、その他の費用は合計金額には含まれていません
            dt.pol__sttl 配送先の国
            dd.pol__txt 日本国内のみ
            dd.pol__txt <span>通常の配送料金：</span>￥1,000
            dt.pol__sttl 支払方法
            dd.pol__txt ・PayPal (クレジットカード・銀行振り込み）
                br
                | ペイパルアカウントにクレジットカード、デビットカードを登録するか、銀行の口座振替設定を行うだけで、IDとパスワードのみでの取引が可能になります。お支払い情報をお店側に伝えることなく安全にご利用いただけます。新規登録も無料。クレジットカード・デビットカードはご購入画面から、銀行口座はペイパルのホームページから設定できます。決済の入力画面は ペイパルへ移行し、入力が完了すると自動的にこのページへ戻ります。
            dd.pol__txt ・銀行振込み
            dd.pol__txt ・代金引換
                br
                | 注意：代金引換の際は、配送業者への手数料が別途発生いたします。


block ftr
    include include/_footer-b.pug
