extend include/_temp.pug

//- 商品用
mixin item(name, price)
    .item: a.item__link(href="store-item.html")
        img.item__img(src="../img/pack.jpg", alt="item")
        p.item__name #{name}
        p.item__price ￥ #{price} /100g
mixin togo
    p.sec2__togo 詳細へ


block head
    title トップページ
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">


block contents
    .top-mv
        img.top-mv__logo(src="../img/logo1-white.svg", alt="logo")
    .main-bg
        .main-cont
            section.top
                h2.top__ttl 老舗ならではの技術と味をお届けします。
                p.top__txt 1985年の創業以来コーヒー豆のブレンドにこだわりました。
                    br
                    | 特長のあるブレンドに合わせる為に、焙煎機はドイツPROBAT社の焙煎機を導入。
                    br
                    | 深煎りで適度な苦味とコクを出し、後味がすっきりしたマイルドブレンドを創り上げました。
            .sec2
                .sec2__shop: a.sec2__link(href="shop.html")
                    p.sec2__name 店舗紹介
                    p.sec2__txt インストラクターやバリスタの資格を取得した当店自慢のスタッフ達が、当社のコーヒーをより美味しく召し上がって頂く為のお手伝いを致します。
                    +togo
                .sec2__coffee: a.sec2__link(href="coffee.html")
                    p.sec2__name 商品紹介
                    p.sec2__txt 当社自慢のブレンドコーヒー、その種類や味、製法をご紹介します。
                    +togo
            section.sec3
                .sec3-ttl
                    h2.sec3__name ONLINE STORE
                    p.sec3__txt 遠方のお客様の為に、オンラインストアから直接コーヒー豆等の販売をさせて頂きます。
                .sec3-item
                    +item('マイルドブレンド', '1,060' )
                    +item('オリジナルブレンド', '1,020' )
                    +item('ロイズブレンド', '980' )
                    +item('エチオピアモカブレンド', '1,220' )
                    +item('ブルーマウンテンNO1ブレンド', '3,060' )
                    p.sec3__txt and more...
                .sec3-link
                    p.sec3__txt ほかの商品を見る
                    p.sec3__to
                        a.sec3__togo(href="store.html") ONLINE STORE

block ftr
    include include/_footer-a.pug
