extend include/_temp.pug

mixin pic
    .store-item__pic: img.store-item__img(src="../img/pack.jpg", alt="item")
mixin txt(name, price, gram, stock, day)
    .store-item__txt
        p.store-item__name #{name}
        p.store-item__price ￥ #{price} /100g
        p.store-item__price #{gram} / #{stock} / お届け日数：#{day}日
        p.store-item__p 深みとコクのある当社自慢のブレンド。
            br
            | ブラジル産の豆をベースに4か国の豆をブレンドして深煎り焙煎で仕上げました。
            br
            | 程よい苦味のある後味がマイルドな特徴のあるコーヒーです。
            br
            | 風味や口当たりをとてもマイルドに仕上た人気NO.1のブレンド。
        .store-buy
            .store-buy__quant
                select(name="select")
                    option(value="1") 100
                    option(value="2" selected) 200
                    option(value="3") 300
                    option(value="4") 400
                    option(value="5") 500
                    option(value="6") 600
            .store-buy__purch
                input(type="submit" value="購入")


block head
    title LLOYD'S coffee OnlineStore
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">

block hdr
    h2.store__ttl ONLINE STORE
block contents
    section.store-cont#item
        .store-item
            +pic
            +txt('マイルドブレンド', '1,060', '200g', '在庫あり', '２')

    .store-terms
        dl
            dt 配送料に関する情報
            dd お荷物のサイズや地域によって送料が異なりますので、その場合はご注文後修正した送料をご連絡いたします。先に送料を確認されたい場合は、事前にお問合せフォームもしくはメールにてご連絡ください。
            dt 国際配送に関する注意事項
            dd 国際配送にかかる料金、税金、その他の費用は合計金額には含まれていません
            dt 配送先の国
            dd 日本国内のみ
            dd <span>通常の配送料金：</span>￥1,000
            dt 支払方法
            dd ・PayPal (クレジットカード・銀行振り込み）
                br
                | ペイパルアカウントにクレジットカード、デビットカードを登録するか、銀行の口座振替設定を行うだけで、IDとパスワードのみでの取引が可能になります。お支払い情報をお店側に伝えることなく安全にご利用いただけます。新規登録も無料。クレジットカード・デビットカードはご購入画面から、銀行口座はペイパルのホームページから設定できます。決済の入力画面は ペイパルへ移行し、入力が完了すると自動的にこのページへ戻ります。
            dd ・銀行振込み
            dd ・代金引換
                br
                | 注意：代金引換の際は、配送業者への手数料が別途発生いたします。


block ftr
    include include/_footer-b.pug
