extend include/_temp.pug

//- 商品用
mixin item(name, price)
    .item: a.item__link(href="store-item.html")
        img.item__img(src="../img/pack.jpg", alt="item")
        p.item__name #{name}
        p.item__price ￥ #{price} /100g


block head
    title LLOYD'S coffee OnlineStore
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">

block hdr
    .store-top#hdr-b
        h2.store__ttl ONLINE STORE
        nav.store-nav#store-nav
            ul.store-nav__item
                li.store-nav__list: a.store-nav__link(href="#coffee") coffee
                li.store-nav__list: a.store-nav__link(href="#tea") tea
                li.store-nav__list: a.store-nav__link(href="#other") other
block contents
    section.store-cont#coffee
        h2.cont__ttl coffee
        p.cont__txt
            | ※価格は200グラムあたりの価格です。
            br
            | ※200グラム単位での販売となります。
        .cont__s
            p.cont__sttl blend
            .cont-item
                +item('マイルドブレンド', '1,060' )
                +item('オリジナルブレンド', '1,020' )
                +item('ロイズブレンド', '980' )
                +item('エチオピアモカブレンド', '1,220' )
                +item('ブルーマウンテンNO1ブレンド', '3,060' )
        .cont__s
            p.cont__sttl straight
            .cont-item#st
                +item('ブルーマウンテンNO.1', '5,220' )
                +item('キリマンジャロAA', '1,180' )
                +item('エチオピアモカ', '1,520' )
                +item('マンデリンG-1', '1,220' )
                +item('グァテマラSHB', '1,120' )
    section.store-cont#tea
        h2.cont__ttl tea
        p.cont__txt
            | ※価格は100グラムあたりの価格です。
            br
            | ※100グラム単位での販売となります。
        .cont-item
            .cont-item#te
                +item('ダージリン', '960' )
                +item('アッサム', '960' )
                +item('アールグレイ', '1,110' )
    section.store-cont#other
        h2.cont__ttl other
        p.cont__txt
            | ※15杯入り・20杯入り・30杯入りを御用意しています。
            br
            | ※下記以外のギフト商品はメールにてお問合せ下さい。
        .cont-item
            .cont-item#oth
                +item('ギフト用ドリップバック(5杯入×3パック)', '1,700' )

block ftr
    include include/_footer-b.pug
