extend include/_temp.pug
block head
    title lloyd's Coffee
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Raleway|Sawarabi+Mincho&display=swap" rel="stylesheet">

block contents
    h2.com__ttl 特定商取引に関する法律に基づく表示
    .com-list
        dl
            dt 販売業者
            dd ロイズコーヒーユニオン株式会社
            dt 代表責任者
            dd 酒巻　悠大
            dt 所在地
            dd 北海道札幌市豊平区西岡4条10丁目7-1
            dt 電話番号
            dd 011-590-9031
            dt メールアドレス
            dd: a(href="#") lloydszimu84@gmail.com
            dt 販売価格
            dd 商品ページをご参照ください
            dt 商品代金以外の必要料金
            dd ・消費税
                br
                |・銀行振込でご購入の際の振込手数料
                br
                |・代金引換でご購入の際の代引手数料
                br
                |・ご購入の際の送料
            dt お届け時期
            dd 入金確認後、通常7営業日以内にお届けさせて頂きます
            dt お支払方法
            dd ・クレジットカード
                br
                |・銀行振込
                br
                |・代金引換
            dt お申し込みの有効期限
            dd ・クレジットカード
                br
                |ご注文時に決済となります。
            dd ・銀行振込の場合
                br
                |ご注文日より7日以内に当社指定の口座へお振込ください。
                br
                |7日を超えた場合は一旦キャンセル扱いとさせて頂きます。
                br
                |再度、ご注文頂きますようお願いします。
            dd ・代金引換の場合
                br
                |商品のお届けの際に、配達員の方へ代金のお支払いをお願い致します。
            dt 返品・交換・キャンセル等
            dd 商品の返品・交換等は、初期不良及び発送商品間違え以外では応じられません。
                br
                |万が一初期不良、発送商品間違えの場合は、商品の到着から7日以内に弊社までメールにてご連絡ください。
                br
                |ご注文のキャンセルは、ご注文後24時間以内に限り受付致しますので、弊社までメールにてご連絡ください。
                br
                |商品交換のご案内をさせて頂きます。（ご連絡のない返品は、お受けできません）
                br
                |ご連絡先： <a href="#">lloydszimu84@gmail.com</a>
            dt 返品送料
            dd 初期不良及び発送商品間違えの場合は弊社着払いにて対応致します。
                br
                | それ以外はお客様のご負担となります。
block ftr
    include include/_footer.pug
