
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content=""/>
  <meta name="twitter:description" content=""/>
  <meta name="twitter:title" content="@username"/>
  <meta name="twitter:image" content=""/>
  <meta property="og:title" content=""/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content=""/>
  <meta property="og:description" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:image" content=""/>
  <link rel="apple-touch-icon" sizes="57x57" href=""/>
  <link rel="apple-touch-icon" sizes="60x60" href=""/>
  <link rel="stylesheet" href="../css/style.css"/>
</head>