.hdr__ttl {
  width: 60px;
  height: 60px; }

.hdr__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.top__mv {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 75vh;
  padding: 30%;
  background: #000, url(../img/lloyds-7418.jpg) center/cover; }
