.wrapper {
  background: #123;
  width: 100%;
  height: 100vh; }

.contact {
  width: 90vw;
  margin: 0 auto;
  padding-top: 50px; }

.contact__ttl {
  color: #eee;
  font-size: 30px;
  font-weight: bold;
  text-align: center; }

.form__lavel {
  margin: 20px 0 5px;
  color: #eee;
  letter-spacing: .2em; }

.form__txt {
  width: 100%;
  height: 55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form__txt2 {
  width: 100%;
  height: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form__btn {
  display: block;
  width: 70%;
  height: 40px;
  margin: 20px auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3e2c7), color-stop(50%, #c19e67), color-stop(51%, #b68d4c), color-stop(91%, #e9d4b3), to(#e9d4b3));
  background: -webkit-linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 91%, #e9d4b3 100%);
  background: -o-linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 91%, #e9d4b3 100%);
  background: linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 91%, #e9d4b3 100%);
  background-color: #222;
  border: 1px solid #666;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
