// ブロック形式のクラスを記述
*{
    font-family: $font-en, $font-jp;
    font-size: 14px;
    color: $color-txt;
    letter-spacing: .1em;
    line-height: 1.5em;

    @media screen and(min-width:960px) {
        font-size: 16px;
    }
}
.header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px);
}
.gnav{
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    width: 100%;
    height: 100vh;
    padding-left: 20vw;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s;
    backdrop-filter: blur(3px);

    @media screen and(min-width:560px) {
        padding-left: 60vw;
        background: linear-gradient(to right,rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.5) 50%);
        backdrop-filter: blur(3px);
    }
}
.top-mv{
    position: relative;
    width: 100%;
    height: 75vh;

    &::before{
        content: "";
        position: fixed;
        top: 0;
        left: -10%;
        z-index: -2;
        width: 120%;
        height: 75vh;
        background: url(../img/lloyds-7418.jpg) center/cover;
        filter: blur(2px) opacity(80%);
    }
}
.top-mv__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25%;
    width: 50vw;

    @media screen and(min-width:560px) {
        width: 40vw;
        margin: -20%;
    }
    @media screen and(min-width:960px) {
        width: 30vw;
        max-width: 400px;
        margin: -15vw;
    }
}

.main-bg{
    background: linear-gradient(rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0.5) 40px, $color-bg 300px);
    backdrop-filter: blur(5px);
}
.main-cont{
    padding: 40px 10px;

    @media screen and(min-width:560px) {
        padding: 40px 20px;
    }
    @media screen and(min-width:960px) {
        max-width: 1280px;
        margin: 0 auto;
    }
}
.sec2{
    margin-top: 100px;
    background: $color-bg;

    @media screen and(min-width:560px) {
        display: flex;
    }
}
.sec3{
    margin: 100px auto;

    @media screen and(min-width:560px) {
        width: 536px;
    }
    @media screen and(min-width:960px) {
        display: grid;
        grid:
        "A C" 200px
        "B C" 1fr
        / 1fr 1fr;
        
        width: 100%;
    }
}

.sec3-ttl{
    @include sec3(A);
}
.sec3-link{
    @include sec3(B);
}
.sec3-item{
    @include item;
}
.sec3-item .sec3__txt{
    align-self: flex-end;
    margin-left: 40px;
    margin-bottom: 50px;
}

//フッター背景あり
.footer-a{
    @include footer;
    background: url(../img/lloyds-7333.jpg) top center/cover fixed;
}

//商品紹介
.coffee{
    @include page-cont;
}
.detail{
    display: flex;
    flex-direction: column;
    padding: 56px 20px;
    border-bottom: 1px solid $color-txt;

    @media screen and(min-width:960px) {
        width: 48%;
    }
}
.nav{
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    // padding: 10px;
    background: rgba(235, 235, 235, 0.5);

    @media screen and(min-width:560px) {
        position: static;
        flex-grow: 1;
        background: transparent;
    }
}
.page-cont{
    @include page-cont;
    @media screen and(min-width:960px) {
        display: grid;
        grid-template:
            "cont data" 1fr
            "menu menu" auto
            / 2fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 40px;
    }
}

//店舗紹介
.shop-menu{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: menu;
    padding: 40px 0;
    background: $color-bg2;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: calc((100vw - 100%)/-2);
        display: block;
        width: calc((100vw - 100%)/2);
        height: 100%;
        background: $color-bg2;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: calc((100vw - 100%)/-2);
        display: block;
        width: calc((100vw - 100%)/2);
        height: 100%;
        background: $color-bg2;
    }
}
.shop-data{
    grid-area: data;
}
.shop-cont{
    grid-area: cont;
}