// エレメント形式のクラスを記述
//top共有
.hdr{
    &__ttl{
        width: 60px;
        height: 60px;
    }
    &__logo{
        width: 130%;
        height: 130%;
        object-fit: cover;
        transform: translate(-10%, -10%);
    }

    &__btn{
        position: relative;
        z-index: 2;
        width: 60px;
        height: 60px;
    }
    &__btn-a{
        position: absolute;
        top: 20px;
        left: 15px;
        width: 30px;
        height: 2px;
        background: $color-txt;
        transition: .3s;
        transform-origin: center;
    }
    &__btn-b{
        @extend .hdr__btn-a;
        top: 29px;
    }
    &__btn-c{
        @extend .hdr__btn-a;
        top: 38px;
    }
}
.gnav{
    &__item{
        margin-top: 10vh;
    }
    &__link{
        display: block;
        height: 40px;
        margin: 3px;
        color: $color-bg;

        &:hover{
            opacity: .7;
        }
    }
}

.top{
    &__ttl{
        margin-bottom: 40px;
        text-align: center;
        font-size: 20px;
    }
    &__txt{
        margin-bottom: 40px;

        @media screen and(min-width:960px) {
            text-align: center;
        }
    }
}

// sec2店舗・商品link
.sec2{
    &__shop{
        background: url(../img/lloyds-7340.jpg) center/cover;
        @include shoplink;
        @media screen and(min-width:560px) {
            margin-right: 2%;
        }
    }
    &__coffee{
        background: url(../img/646w.jpg) center/cover;
        @include shoplink;
    }
    &__link{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    &__name{
        font-size: 20px;
        color: $color-bg;
    }
    &__txt{
        flex-grow: 1;
        margin-top: 20px;
        color: $color-bg;
    }
    &__togo{
        color: $color-bg;
        text-align: right;
    }
}

//sec3 storesample
.sec3{
    &__name{
        font-size: 20px;
        letter-spacing: .3em;
    }
    &__txt{
        margin-top: 24px;
    }
    &__togo{
        display: block;
        width: 300px;
        height: 50px;
        padding: 15px 10px;
        background: url(../img/lloyds-7410.jpg) center/cover;
        color: $color-bg;
        letter-spacing: .4em;
        
        @media screen and(min-width:560px) {
            width: 320px;
            height: 100px;
            padding: 40px 10px;
        }
    }
}

.ftr{
    &__name{
        margin-bottom: 1em;
        font-family: $font-ttl;
        font-size: 24px;
    }
    &-icon{
        display: flex;
        margin-bottom: 40px;

        &__b{
            width: 40px;
            height: 40px;
            margin-left: 15px;
        }
        &__img{
            width: 100%;
            height: 100%;
        }
    }
    &__add{
        margin-left: 5px;
        margin-bottom: 1em;
        font-family: $font-ttl;
        font-style: normal;
    }
    &__etc{
        margin-top: 24px;
        color: $color-txtdark;
        
        @media screen and(min-width:560px) {
            text-align: right;
        }
    }
    &__copy{
        text-align: center;

        @media screen and(min-width:560px) {
            margin-bottom: 1em;
        }
    }
    &__col{
        color: $color-bg;
    }
}

.ftr__link,.ftr__copy{
    font-family: $font-ttl;
    font-size: 12px;
}
.ftr__link + .ftr__link{
    margin-left: 5px;
}


//ページ共通
.nav{
    &__item{
        display: flex;
        justify-content: flex-end;
    }
    &__list:nth-last-child(n+2)::after{
        content: "/";
        width: 10px;
        height: 1.5em;
        vertical-align: bottom;
    }
    &__link{
        display: inline-block;
        width: auto;
        height: 20px;
        margin: 0 10px;
        text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 6px #fff;
    }
}

.page-mv{
    width: 100%;
    height: 30vh;

    @media screen and(min-width:960px) {
        height: 40vh;
    }

    &__img{
        @include img;
    }
}

//商品紹介
.coffee{
    &__ttl{
        @include page-ttl;
    }
    &__detail{
        @media screen and(min-width:960px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 40px 0;
        }
    }
}
.detail{
    &__name{
        // width: 65%;
        // margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }
    &__b{
        flex-grow: 1;
        margin-bottom: 24px;
        @media screen and(min-width:560px) {
            display: flex;
            justify-content: space-between;
        }
    }
    &__taste{
        margin-right: 40px;
    }
    &__tastelist{
        position: relative;
        width: 160px;
        list-style-type: none;

        &:before{
            content: url(../img/beane.png);
            display: inline-block;
            position: absolute;
            right: 0;
            vertical-align: middle;
        }
        &:after{
            content: url(../img/bean.png);
            display: inline-block;
            position: absolute;
            top: 2px;
            right: -10px;
            vertical-align: middle;
        }
    }
    &__store{
        text-align: right;
    }
    &__link{
        display: inline-block;
        // width: 80px;
        padding: 5px;
        background: $color-btn;
        font-size: 14px;
    }
}


//店舗紹介
.shop{
    &__ttl{
        @include page-ttl;
    }
    &__txt{
        @media screen and(min-width:560px) and(max-width:960px) {
        width: 80%;
        }
    }
}
.insta{
    margin: 80px 0;

    &__ttl{
        @include page-sttl;
    }
    &__name{
        font-weight: normal;
    }
    &__acount{
        font-Size: .8em;
        margin-bottom: 16px;
    }
    &__b{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media screen and(min-width:560px) {
            width: 60%;
        }
    }
    &__pic{
        position: relative;
        width: 48%;
        margin-bottom: 4%;

        &:before{
            content: "instagram";
            position: absolute;
            top: 50%;
            display: block;
            color: rgba(255, 255, 255, 0.7);
            width: 100%;
            text-align: center;
            font-weight: 800;
        }
    }
    &__img{
        @include img;
    }
}
.shop-menu{
    &__ttl{
        position: relative;
        width: 100%;
        text-align: center;
        @include page-sttl;

        &:before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 120px;
            height: 1px;
            margin-left: -60px;
            background: linear-gradient(to right,$color-menu 10px,transparent 10px 14px,$color-menu 14px 106px,transparent 107px 110px,$color-menu 110px);
        }
    }
    &__pic{
        width: 100px;
        height: 200px;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    //menu一覧
    &__b{
        margin-bottom: 40px;

        @media screen and(min-width:560px) {
            width: 45%;
        }
    }
    &__sttl{
        @include page-sttl;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__name span{
        font-size: .7em;
    }
    &__price{
        text-align: right;
        flex-grow: 1;
    }
    &__txt{
        margin-top: 16px;
        font-size: .8em;
    }
}
.shop-data{
    &__ttl{
        @include page-sttl;
    }
    &__sttl{
        font-weight: 400;
        margin: 20px 0 8px;
    }
    &__map{
        width: 100%;
        height: 100px;
        margin-top: 20px;
    }
}
//会社概要
//説明書

// ブロック形式の中に入るクラス
// .header__ttl{    
// }
// .gnav__item{   
// }

// まとめるのにブロック使用の例
// .gnav{
//     &__item{}
//     &__list{}
// }

// 疑似クラス使用の例
// .gnav{
//     &__list{
//             &:hover{
//             }
//         }
// }

