// ブロック形式のクラスを記述

// .header{
// }

// .main{
// }
.wrapper{
    background: #123;
    width: 100%;
    height: 100vh;
    
}
.contact{
    width: 90vw;
    margin: 0 auto;
    padding-top: 50px;
}
.contact{
    &__ttl{
        color: #eee;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    // &__form{
    //     background: #fff;
    // }
}
.form{
    &__lavel{
        margin: 20px 0 5px;
        color: #eee;
        letter-spacing: .2em;
    }
    &__txt{
        width: 100%;
        height: 55px;
        box-sizing: border-box;
    }
    &__txt2{
        width: 100%;
        height: 150px;
        box-sizing: border-box;
    }
    &__btn{
        display: block;
        width: 70%;
        height: 40px;
        margin: 20px auto;
        background: linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 91%, rgba(233,212,179,1) 100%);
        background-color: #222;
        border: 1px solid #666;
        // text-align: center;
        appearance: none;
        // letter-spacing: 2em;

    //     height: 0;
	// padding: 38px 0 0;
	// background: url(https://nxworld.net/example/15-useful-css-snippets-in-form-style/btn_submit.png) no-repeat 0 0;
    // background-color: #222;
	// border: none;
	// overflow: hidden;
	// cursor: pointer;
	// outline: none;

    }
}
// input[type="submit"] {
//     property: value;
//     letter-spacing: 3em;

//   }