// ボタン
.btn{
    &__a{
        top: 29px;
        transform: rotate(215deg);
        background-color: #fff;
    }
    &__b{
        transform: scaleX(0);
    }
    &__c{
        top: 29px;
        transform: rotate(-215deg);
        background-color: #fff;
    }
}
.gnav-o{
    right: 0;
}