// 概要ページ
.com__ttl{
    margin: 15vh 5% 0;
    font-size: 36px;
}
.com-list{
    width: 90%;
    max-width: 800px;
    margin: 10vh auto;

    & dt{
        margin-bottom: -3em;
        padding: 0.5em;
        border-top: 1px solid $color-txtdark;
        line-height: 2em;
    }
    & dd{
        margin-left: 40%;
        padding: 0.5em;
        line-height: 2em;
    }
}
// プライバシーポリシーほか
.pol{
    padding: 10vh 20px;
    @media screen and(min-width:560px) {
        padding: 10vh 80px;
    }
   @media screen and(min-width:960px) {
        padding-top: 10vh;
    }
}
.pol{
    &__ttl{
    margin: 5vh 5% 0;
    font-size: 36px;
    }
    &__sttl{
    margin: 5vh 5% 0;
    font-size: 24px;
    }
    &__ss{
    margin: 5vh 5% 0;
    font-size: 20px;
    }
    &__txt{
        margin-top: 2em;
    }
}
