// 通販item共有
.item{
    position: relative;
    margin-bottom: 40px;
    padding: 10px;
    
    @media screen and(min-width:560px) {
        width: 50%;
    }

    &:first-child::before{
        content: "brend";
        @include tag;
    }
    &:nth-child(2)::before{
        content: "Original";
        @include tag;
    }
    &:nth-child(3)::before{
        content: "HOUSE";
        @include tag;
    }
    &:nth-child(4)::before{
        content: "Mocha";
        @include tag;
    }
    &:nth-child(5)::before{
        content: "BMno.1";
        @include tag;
    }
}
#st .item{
    &:first-child::before{
        content: "BMno.1";
        @include tag;
    }
    &:nth-child(2)::before{
        content: "Kiliman";
        @include tag;
    }
    &:nth-child(3)::before{
        content: "Mocha";
        @include tag;
    }
    &:nth-child(4)::before{
        content: "Md-G1";
        @include tag;
    }
    &:nth-child(5)::before{
        content: "Gt-SHB";
        @include tag;
    }
}
#te .item{
    &:first-child::before{
        content: "Darjeeling";
        @include tag2;
    }
    &:nth-child(2)::before{
        content: "Assam";
        @include tag2;
    }
    &:nth-child(3)::before{
        content: "EarlGrey";
        @include tag2;
    }
}
#oth .item{
    &:first-child::before{
        display: none;
    }
}

.item{
    &__img{
            width: 248px;
            height: 248px;
            box-shadow: rgba(0, 0, 0, 0.1) 0 0 7px;

            @media screen and(min-width:960px) {
            width: 100%;
            height: auto;
            max-width: 300px;
            max-height: 300px;
            object-fit: contain;
        }    
    }
    &__name{
        margin: 16px 10px 2px;
    }
    &__price{
        margin: 0 10px;
    }
}

//オンラインショップヘッダー
.header-b {
    position: relative;
    height: 40vh;
    background: #fff;
    
    @media screen and(min-width:960px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 45%;
    }
}
.header-b h1{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.header-b .hdr__logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateY(5%);
}
.header-b .hdr__btn,.header-b .gnav{
    display: none;
}

.store-top{
    position: fixed;
    top: 50vh;
    right: 0;
    width: 100%;
    text-align: center;
}
.store__ttl{
    letter-spacing: .5em;
}
.store-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    background: rgba(251, 249, 247, 0.5);

    &__item{
        display: flex;
        justify-content: center;
        margin-top: 24px;
        @media screen and(min-width:560px) {
            margin-top: 36px;

        }
    }
    &__list:nth-child(-n+2)::after{
        content: "　/　";
        width: 30px;
        height: 1em;
        vertical-align: bottom;
    }
}
//オンラインショップフッター
.footer-b{
    @include footer;
    background: #fff;

    // @media screen and(min-width:560px) {
    //     position: absolute;
    //     width: 100%;
    // }
}

//topメインコンテンツ
.store-main{
   padding-top: 40vh;

   @media screen and(min-width:560px) {
        width: 536px;
        margin: 0 auto;
        padding: 30vh 0 10vh;
    }
   @media screen and(min-width:960px) {
        width: 640px;
        margin-left: 50%;
        padding-top: 10vh;
    }
}
.store-cont{
    padding: 0;
}
.cont{
    &__ttl{
        font-size: 36px;
        margin-bottom: .6em;
    }
    &__txt{
        margin-bottom: 1em;
    }
    &__sttl{
        margin: 2em 0 1em;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
}
.cont-item{
    @include item;
}
#oth{
    width: 100%;
}

//アイテムページ

.store__ttl{
    letter-spacing: .3em;
    font-size: 14px;
    margin-left: 14px;
    flex-grow: 1;
}
.store-item{
    max-width: 520px;
    margin: 0 20px 10vh;
    padding-top: 13vh;

    @media screen and(min-width:560px) {
        margin: 0 auto 10vh;
        padding-top: 10vh;
    }
    @media screen and(min-width:960px) {
        display: flex;
        width: 100%;
        min-width: 1280px;
    }
}
.store-item{
    &__pic{
        width: 100%;
        @media screen and(min-width:560px) {
            width: 300px;
        }
        @media screen and(min-width:960px) {
            margin: 8vh 0 0 auto;
        }        
    }
    &__img{
        width: 100%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0 0 7px;

        @media screen and(min-width:960px) {
        width: 300px;
        height: 300px;
        }    
    }
    &__txt{
        @media screen and(min-width:960px) {
            margin: 8vh auto;
            width: 50%;
        }        
    }
    &__name{
        margin: 16px 5px 2px;
        font-size: 24px;
    }
    &__price{
        margin: 0 5px;
    }
    &__p{
        margin: 60px 0;
    }
}
.store-buy{
    @media screen and(min-width:560px) {
        display: flex;
    }
}
.store-buy{
    &__quant{
        width: 200px;
        height: 40px;

        margin: 0 auto 24px;
        @media screen and(min-width:560px) {
            margin: 0;
        }    
    }
    &__quant select{
        width: 100%;
        height: 100%;
        color: $color-txtdark;
    }
    &__purch{
        width: 100px;
        height: 40px;
        margin: 0 auto;

        @media screen and(min-width:560px) {
            margin: 0;
            margin-left: 100px;
        }    
    }
    &__purch input{
        width: 100%;
        height: 100%;
        color: #fff;
        background: #272727;
    }
}

.store-terms{
    padding: 30px;
    background: $color-bg2;
    box-shadow: inset rgba(0, 0, 0, 0.05) 0 15px 25px -3px, inset rgba(0, 0, 0, 0.05) 0 -20px 15px -3px;

    @media screen and(min-width:560px) {
        padding: 40px;
    }
}
.store-terms{
    & dt{
        margin: 2em 0 .8em;
        font-size: 16px;
        @media screen and(min-width:560px) {
            font-size: 20px;
        }    
    }
    & dd{
        // margin-bottom: 3em;

        & span{margin-right: 20px;}
    }
}
