footer#footer.footer-b
    .ftr1
        .ftr-icon
            .ftr-icon__b: a.ftr-icon__link(href="index.html"): img.ftr-icon__img(src="../img/instd.png")
            .ftr-icon__b: a.ftr-icon__link(href="index.html"): img.ftr-icon__img(src="../img/fbd.png")
            .ftr-icon__b: a.ftr-icon__link(href="index.html"): img.ftr-icon__img(src="../img/twid.png")
            .ftr-icon__b: a.ftr-icon__link(href="index.html"): img.ftr-icon__img(src="../img/lloydsd.png")
        h2.ftr__name ロイズコーヒーユニオン株式会社
        address.ftr__add
            | 〒062-0034
            br
            | 北海道札幌市豊平区西岡4条10丁目7-1
            br
            | TEL：011-855-3939
            br
            | FAX：011-855-3939
            br
            | e-mail：lloydszimu84@gmail.com
    .ftr2
        p.ftr__etc
            a.ftr__link(href="privacy.html") プライバシーポリシー
            br
            a.ftr__link(href="torihiki.html") 特定商取引法に関する法率に基づく表示
            br
            a.ftr__link(href="haisou.html") 配送・支払いについて
            br
            a.ftr__link(href="contact.html") お問い合わせ
        p.ftr__copy
            small © 2020 lloyds coffee union Inc. All rights reserved.
