footer#footer.footer-a
    .ftr1
        .ftr-icon
            .ftr-icon__b: a.ftr-icon__link(href="index.html"): img.ftr-icon__img(src="../img/inst.png")
            .ftr-icon__b: a.ftr-icon__link(href="index.html"): img.ftr-icon__img(src="../img/fb.png")
            .ftr-icon__b: a.ftr-icon__link(href="index.html"): img.ftr-icon__img(src="../img/twi.png")
        h2.ftr__name.ftr__col ロイズコーヒーユニオン株式会社
        address.ftr__add.ftr__col
            | 〒062-0034
            br
            | 北海道札幌市豊平区西岡4条10丁目7-1
            br
            | TEL：011-855-3939
            br
            | FAX：011-855-3939
            br
            | e-mail：lloydszimu84@gmail.com
    .ftr2
        p.ftr__etc
            a.ftr__link.ftr__col(href="company.html") 会社概要
            a.ftr__link.ftr__col(href="privacy.html") プライバシーポリシー
            a.ftr__link.ftr__col(href="cookie.html") cookie
            a.ftr__link.ftr__col(href="contact.html") お問い合わせ
        p.ftr__copy
            small.ftr__col © 2020 lloyds coffee union Inc. All rights reserved.
