header#header.header
    h1.hdr__ttl
        img.hdr__logo(src="../img/logo1.svg" alt="LLoyd's Coffee")
    block hdr
    nav#gnav.gnav
        ul.gnav__item
            li: a.gnav__link(href="index.html") top
            li: a.gnav__link(href="store.html") OnlineStore
            li: a.gnav__link(href="coffee.html") 商品情報
            li: a.gnav__link(href="shop.html") 店舗情報
            li: a.gnav__link(href="company.html") 会社概要
            li: a.gnav__link(href="privacy.html") プライバシーポリシー
            li: a.gnav__link(href="cookie.html") Cookieポリシー
            li: a.gnav__link(href="contact.html") お問い合わせ
    button#hdr__btn.hdr__btn
        span.hdr__btn-a
        span.hdr__btn-b
        span.hdr__btn-c