doctype html
html(lang="ja")
    include ../base/_head.pug
    body
        .wrapper
            include _header.pug
            main#main.main
                block contents

            //- footer
            block ftr

                
        // ここから下にjsファイル設置
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../js/function.js"></script>

